article{
    display: flex;
    flex-direction: row;
}

div{
    margin-right: 8px;
    text-align: center;
}

.div21, .div11, .div31, .div41{
    width: 200px;
    height: 200px;
}

.div21{
    height: 120px;
    box-shadow: 20px 20px 10px rgb(215, 214, 214);
}

p{
    margin-top: 10px;
}

.span3{
    font-size: 18px;
    font-weight: bold;
    color: rgb(7, 157, 82);

}


.span33{
    text-decoration: line-through;
    font-size: 10px;
    color: rgb(71, 70, 70);
    
}

.b{
    border-radius: 5px;
    background-color: rgb(10, 55, 26);
    color: white;
    border: none;
}

