*{
    box-sizing: border-box;

}
body{
    padding-left: 30px;
    background-color: rgb(226, 222, 222);
}

header{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    padding-left: 35px;
}
/* mettre l'image a doitr */
.nompr{
    margin-right: 60vh;
    width: 100vh;
    /* border: 2px solid red; */
}

.prenom{
    font-size: 30px;
    margin-bottom: 0;

}

.nom{
    font-size: 50px;
    margin-top: 2px;
}

span{
    border-bottom: 2px solid yellow;
}


/* sepatation profil contact */
.lign1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.contact{
    
    width: 100%;
    margin-right: 15%;
}
h2{
    font-size: 30px;
    font-weight: bold;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

i{
    margin-right: 10px;
}
span{
    margin-bottom: 500px;
}
p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.iem{
    margin-top: 2px;
    margin-bottom: 5px;

}

